.img_about{
    position: relative;
    transition: all .4s;
    padding: 0 20px 0 0;
}

.img_about:hover{
    padding: 0 0 0 20px;
}

.img_about:hover::after {
    content: " ";
    background: $color4;
    left: 5px;
    top: -15px;
    right: 15px;
    bottom: 15px;
}

.img_about::after {
    content: " ";
    background: #f5f5f500;
    position: absolute;
    left: 15px;
    right: 5px;
    top: 15px;
    bottom: -15px;
    z-index: -1;
    transition: all .5s;
}

.a_about:hover{
    background-color: white;
    color: black!important;
    transition: all .4s;
}

#hr_cv{
    background-color: $color4;
    width: 10%;
    margin: 0;
}

#div_cv{
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url(../img/bg_cv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    h3{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
    }
}

.i_cv{
    color: $color4;
    font-size: 2rem;
}

.hr_cv{
    background-color: $color4;
    width: 15%;
    margin-left: 0;
}

#hr_cv2{
    background-color: $color4;
    width: 7.5%;
    margin-left: 0;
}

.bar_bg{
    background-color: rgba(0, 0, 0, 0.35);
}

.bar_color{
    background-color: $color1;
}

@media screen and (min-width: 600px) and (max-width: 1023px){
    #hr_cv2{
        width: 15%;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px){

}