html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #131414;
    font-family: font_normal;
}

li{
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

a:hover{
    all: unset;
    cursor: pointer;
}

.text-justify{
    text-align: justify;
}

@media screen and (min-width: 320px) and (max-width: 599px){
    html{
        scroll-behavior: auto;
    }
}