#section_portfolio{
    height: auto;
}

#hr_portfolio{
    width: 15%;
    height: 2px;
    color: $color4;
    background-color: $color4;
}

.list{
    cursor: pointer;
}

.img_galerie{
    width: 33%;
}