#section_testimonial{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/speaking.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

#hr_testi{
    width: 10%;
    height: 2px;
    color: $color4;
}

#ol_carrousel{
    margin-bottom: 0;
    li{
        color: white;
        height: 7px;
        width: 7px;
    }
}

#div_testi{
    height: 20vh;
}

@media screen and (min-width: 600px) and (max-width: 1023px){
    .div_carrousel{
        height: 25vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px){
    .div_carrousel{
        height: 25vh;
    }
}