#section_testimonial{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg_testi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hr_testi{
    width: 10%;
    height: 2px;
    color: $color4;
}

#ol_carrousel{
    margin-bottom: 0;
    li{
        color: white;
        width: 5px;
    }
}

#div_testi{
    height: 20vh;
}